@model IEnumerable<DigitalMarketing.Web.Models.TopExperience>

@{
    ViewBag.Title = "Home Page";
}

@section Home
{

}


<div class="row">
    <div class="jumbotron">
        <div class="container" >
            <h1>Experience the world</h1>
            <a class="btn btn-primary btn-lg" href="https://docs.microsoft.com/en-us/azure/app-service/" role="button">Share yours</a>
        </div>
    </div>
    @foreach (var item in Model)
    {
        <div class="col-md-4">
            <img src="@item.Photo" style="width:100%; " />
            <h2>@Html.DisplayFor(modelItem => item.Name)</h2>

            <p>
                <a href="https://docs.microsoft.com/en-us/azure/app-service/">Learn more</a>
            </p>
        </div>
    }
</div>